.footer {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto 16px;
}
@media screen and (max-width: 768px) {
    .footer {
        margin: 0 auto 80px;
    }
}
.snsBox {
    padding: 16px 0px;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
}
.snsBoxText {
    text-align: center;
}
.snsIcon {
    display: flex;
    width: 50%;
    margin: 16px auto;
}
.snsLink {
    display: flex;
    width: 16%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    aspect-ratio: 1/1;
    cursor: not-allowed;
}
.snsLink__icon {
    max-height: 60px;
}
.footerLogo {
    display: block;
    width: 128px;
    margin: 0 auto;
    padding: 16px 0px;
    border-bottom: 1px solid #e6e6e6;
}
.footerLogo img {
    width: 100%;
}
.footerLogoType {
    display: block;
    width: 128px;
    margin: 0 auto;
    padding: 16px 0px;
}
.footerLogoType img {
    width: 100%;
}
.copyright {
    font-size: 0.7em;
    color: #e6e6e6;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .copyright {
        font-size: 0.6em;
    }
}
