.title {
    width: 90%;
    margin: 32px auto 2em;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    font-family: 'Crete Round', serif;
    font-size: 1.5rem;
    line-height: 1.4;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .title {
        margin: 48px auto 1em;
    }
}
