.mv {
    position: relative;
    z-index: 1;
    margin-bottom: 120px;
}

.feature {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 120px;
}
.news {
    width: 60%;
    margin: 0 auto 120px;
}
.sectionTitle {
    text-align: center;
}
.buttonWrapper {
    display: flex;
    justify-content: right;
    margin-bottom: 40px;
}
.button {
    display: inline-block;
    padding: 0.1em 0.8em;
    background-color: #c1272d;
    color: #fff;
    font-size: 0.7rem;
    text-decoration: none;
    border-radius: 1px;
    transition: all 0.3s ease;
}
.button:hover {
    background-color: #911f23;
}

@media screen and (max-width: 768px) {
    .mv {
        margin-bottom: 40px;
    }
    .feature {
        grid-template-columns: repeat(1, 1fr);
        margin-bottom: 40px;
    }
    .news {
        width: 90%;
        margin: 0 auto 40px;
    }
}
